.login-container {
  padding: 24px;
}
form {
  width: 100%;
}
ion-button {
  width: 100%;
}
.input-bottom.sc-ion-input-ios {
  border-top: none; // Elimina cualquier borde
}
ion-input {
  --border-color: var(--ion-color-light);
  margin-bottom: 15%;
}
.title {
  padding: 0 24px;
  h1 {
    font-weight: 700;
  }
}
